<section class="modal">
    <h2 mat-dialog-title>Viajante</h2>
    <mat-dialog-content>
      <div class="selecao-idade">
            <span>
                <ul>
                    <li><b>Adultos</b></li>
                    <li>(Acima de 12 anos)</li>
                    <li>
                    <button class="decremento" mat-mini-fab>
                        <img
                        src="assets/icones/do_not_disturb_on.png"
                        alt="Operador de subtração"
                        />
                    </button>
                    <span>1</span>
                    <button class="incremento" mat-mini-fab>
                        <img
                        src="assets/icones/add_circle.png"
                        alt="Operador de adição"
                        />
                    </button>
                    </li>
                </ul>
            </span>       
      </div>      
    </mat-dialog-content>
    <mat-dialog-actions> 
      <div>
        <button mat-button mat-dialog-close>Close</button>
      </div>
    </mat-dialog-actions>
  </section>
  