<app-banner 
    src = "assets/imagens/banner-homepage.png" 
    alt = "Banner do Aplicativo Jornada Milhas">
</app-banner>
<app-container>
    <h2>Promoções</h2>
    <div class="card-wrapper">
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
    </div>    
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
        <app-card-depoimento imgDepoente="assets/imagens/avatar1.png" 
            textoDepoente="A Jornada foi uma das melhores agências de viagens que eu já experimentei. 
                            O serviço ao cliente foi uma excepcional e toda a equipe foi muito atenciosa e prestativa."
            nomeDepoente="Laura Matos"></app-card-depoimento>

            <app-card-depoimento imgDepoente="assets/imagens/avatar2.png" 
            textoDepoente="Recomendo fortemente a agência de viagens Jornada. 
                            Eles oferencem um serviço personalizado e de alta qualidade que excedeu as minhas
                            expectativas em minha viagem."
            nomeDepoente="Talita Magalhães"></app-card-depoimento>

            <app-card-depoimento imgDepoente="assets/imagens/avatar4.png" 
            textoDepoente="Minha viagem com a Jornada foi incrivel!
                            Recomendo muito a agência para quem busca uma experiência emocionante e
                            personalizada a partir das nossas necessidades."
            nomeDepoente="Mariana Faustino"></app-card-depoimento>
    </div>
   
</app-container>