<app-banner 
    src = "assets/imagens/banner-homepage.png" 
    alt = "Banner do Aplicativo Jornada Milhas">
</app-banner>
<app-container>
    <h2>Promoções</h2>
    <app-form-busca></app-form-busca>
    <div class="card-wrapper">
        <app-card-busca src = "assets/imagens/Veneza.png" 
                        alt = "Veneza"
                        paisDestino = "Veneza"
                        precoDestino = "R$ 500,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>
        
        <app-card-busca src = "assets/imagens/Roma.jpg" 
                        alt = "Roma"
                        paisDestino = "Roma"
                        precoDestino = "R$ 800,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/Alagoas.jpg" 
                        alt = "Alagoas"
                        paisDestino = "Alagoas"
                        precoDestino = "R$ 600,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/Atacama.jpg" 
                        alt = "Atacama"
                        paisDestino = "Atacama"
                        precoDestino = "R$ 700,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/Canada.jpg" 
                        alt = "Canada"
                        paisDestino = "Canada"
                        precoDestino = "R$ 800,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/Egito.jpg" 
                        alt = "Egito"
                        paisDestino = "Egito"
                        precoDestino = "R$ 900,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/Espanha.jpg" 
                        alt = "Espanha"
                        paisDestino = "Espanha"
                        precoDestino = "R$ 850,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/Franca.jpg" 
                        alt = "França"
                        paisDestino = "França"
                        precoDestino = "R$ 850,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/NovaYork.jpg" 
                        alt = "Nova York"
                        paisDestino = "Nova York"
                        precoDestino = "R$ 700,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/NovaZelandia.jpg" 
                        alt = "Nova Zelandia"
                        paisDestino = "Nova Zelandia"
                        precoDestino = "R$ 700,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        <app-card-busca src = "assets/imagens/RioDeJaneiro.jpg" 
                        alt = "Rio de Janeiro"
                        paisDestino = "Rio de Janeiro"
                        precoDestino = "R$ 800,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

        

        <app-card-busca src = "assets/imagens/Romenia.jpg" 
                        alt = "Romenia"
                        paisDestino = "Romenia"
                        precoDestino = "R$ 900,00"
                        detalhesDestino="Detalhes">
        </app-card-busca>

    </div>    
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
        <app-card-depoimento imgDepoente="assets/imagens/avatar1.png" 
            textoDepoente="A Jornada foi uma das melhores agências de viagens que eu já experimentei. 
                            O serviço ao cliente foi uma excepcional e toda a equipe foi muito atenciosa e prestativa."
            nomeDepoente="Laura Matos"></app-card-depoimento>

            <app-card-depoimento imgDepoente="assets/imagens/avatar2.png" 
            textoDepoente="Recomendo fortemente a agência de viagens Jornada. 
                            Eles oferencem um serviço personalizado e de alta qualidade que excedeu as minhas
                            expectativas em minha viagem."
            nomeDepoente="Talita Magalhães"></app-card-depoimento>

            <app-card-depoimento imgDepoente="assets/imagens/avatar4.png" 
            textoDepoente="Minha viagem com a Jornada foi incrivel!
                            Recomendo muito a agência para quem busca uma experiência emocionante e
                            personalizada a partir das nossas necessidades."
            nomeDepoente="Mariana Faustino"></app-card-depoimento>
    </div>
   
</app-container>